


<% if jobs.exists? %>

<table class="table table-sm">

	<% jobs.each do |j| %>

    <tr class="row">
		<td class="col-md-1"><%= attachment_image_tag j, :job_image, fallback: "no_image.jpg", size:"60x60" %></td>
		<td class="col-md-10">
			<div class="info_created_at">
				<%= link_to company_path(j.company) do %>
			    	<%= j.company.company_name %>
			    <% end %>
			        が<%= j.created_at.strftime('%Y/%m/%d') %>に登録
			</div>
			<%= link_to job_path(j) do %>
			  <strong class="index-title">
			    <%= j.title %>
			  </strong>
			<% end %>
			<div class="info_created_at">
		        ・<%= j.status %>・<%= j.salary %>・

		        <% j.tag_list.each do |tag| %>
                <%= link_to job_tag_path(tag) do %>
                    <code><%= tag %></code>
                <% end %>

            <% end %>
		    </div>
		</td>
		<td class="col-md-1">
			<% if company_signed_in? %>
			<% if j.company == current_company %>
	            <%= link_to "編集", edit_job_path(j) %>
	        <% end %>
	        <% end %>
	    </td>
	</tr>
	<% end %>
</table>

<% else %>

	<div class="toping">
	    <h5 class="toping gocenter">There are no jobs</h5>
	</div>

<% end %>