


<div class="container clearfix toping">

　　　<%= form_for @job do |f| %>

    <%= render 'layouts/error_messages', model: f.object %>

    <div class="row">

      <div class="col-12 col-lg-4">
        <div class="form-group">
          <%= attachment_image_tag @job, :job_image, fallback: "no_image.jpg", size:"200x200" %>
          <%= f.attachment_field :job_image, placeholder: "プロフィール画像" %>
        </div>
      </div>
      <div class="col-12 col-lg-8 lefting toping">
        <div class="form-group">
            <%= f.text_field :title, placeholder:" タイトル", class: "col-md-12" %>
        </div>
        <div class="form-group">
            <%= f.text_field :salary, placeholder:" 給与", class: "col-md-12" %>
        </div>
        <div class="form-group">
            <%= f.select :status, Job.statuses.keys.to_a, placeholder:" 雇用形態の選択" %>
        </div>
      </div>

      <div class="col-12 toping">
        <div class="form-group">
          <%= f.text_area :job, placeholder:" 仕事内容", class: "col-12", 'data-provider': :summernote, src: "./js/summernote/lang/summernote-ja-JP.js"%>
        </div>
        <div class="form-group">
          <%= f.submit "登録する", class: "btn-lg btn-primary"  %>
        </div>
      </div>
    <% end %>

</div>
