
<div class="container">
<div class="toping">
<div class="row">

  <div class="col-md-3">

	<table class="table">

		<tr>
			<th><%= @user.name %></th>
		</tr>
		<tr>
			<th><%= @user.email %></th>
		</tr>

    </table>
  </div>


  <div class="col-md-9">

		<div class='tabs'>
		  <div class='tab-buttons'>
		    <span class='content1'>ヘルプ</span>
		    <span class='content2'>いいね</span>
		    <span class='content3'>フォロー</span>
		    <div id='lamp' class='content1'></div>
		  </div>
		  <div class='tab-content'>

		    <div class='content1'>
		    	<%= render 'users/helps/helps', helps: @helps %>
	        </div>

	        <div class='content2'>
	        	<%= render 'users/favorites/favorites', favorites: @favorites %>
	        </div>

	        <div class='content3'>
	        	<%= render 'users/follows/follows', follows: @follows %>
	        </div>

	      </div>
		</div>

  </div>
</div>
</div>
</div>




