


<div class="container toping">

  <% if @companies.exists? %>
  <div class="row">
    <div class="col-md-3">

      <% @companies.each do |c| %>

      <tr class="row">
        <td class="col-md-1">
            <%= attachment_image_tag c, :company_image, fallback: "no_image.jpg", size:"70x70"%>
        </td>
        <td class="col-md-3">
            <%= c.company_name %><br/ >
            <%= c.company_phone %><br/ >
            <%= c.company_address %>
        </td>
        <td class="col-md-7">
        	<%= c.surname %><%= c.name %><br/ >
            <%= c.introduction %>
        </td>
        <td class="col-md-1">
          <%= c.marks_count %>マーク<br/ >
          <%= link_to "復元", admins_company(c), method: :patch, "data-confirm" => "復元するよ？" %><br/ >
          <%= link_to "削除", admins_company(c), method: :delete, "data-confirm" => "削除するよ？" %>
        </td>
      </tr>

    </div>
  </div>
  <% end %>
  <%= paginate @companies %>

  <% else %>
  <div class="blank">
    <h5>現在、登録している企業はありません。</h5>
    <h5>Currently, there are no companies.</h5>
  </div>
  <% end %>
</div>

