


<div class="container toping showtime">

  <% if @companies.exists? %>
    <table class="table table-hover table-sm toping">

      <% @companies.each do |c| %>

      <tr class="row">
        <td class="col-md-1">
            <%= attachment_image_tag c, :company_image, fallback: "no_image.jpg", size:"70x70"%>
        </td>
        <td class="col-md-3">
            <%= c.company_name %><br/ >
            <%= c.company_phone %><br/ >
            <%= c.company_address %>
        </td>
        <td class="col-md-7">
        	<%= c.surname %><%= c.name %><br/ >
            <%= c.introduction %>
        </td>
        <td class="col-md-1">
          <%= c.marks_count %>マーク<br/ >
          <div class="row">
                <div class="col-1">
                    <%= link_to "復元", admins_company_path(c), method: :patch, "data-confirm" => "復元するよ？" %>
                </div>
                <div class="col-1">
                    <%= link_to "削除", admins_company_path(c), method: :delete, "data-confirm" => "削除するよ？" %>
                </div>
            </div>
         </td>
      </tr>

      <% end %>
    </table>

  <%= paginate @companies %>

  <% else %>
  <div class="blank">
    <h5>現在、登録している企業はありません。</h5>
    <h5>Currently, there are no companies.</h5>
  </div>
  <% end %>
</div>


