



<div class="container toping">

<% if @engineers.exists? %>

  <%= search_form_for @q, url:engineers_path do |f| %>
    <div class="search_field">
      <%= f.text_field :user_name_or_surname_or_name_or_age_or_introduction_or_languages_language_cont_any %>
    <%= button_tag :type => "submit", class: "btn btn-default btn-s-md s-button", id: "search_button" do %>
        <i class="fa fa-search"></i>
    <% end %>
    </div>

  <% end %>

 <div class="toping">
 <table class="table table-hover table-sm">
  <% @engineers.each do |e| %>

    <tr class="row">
      <td class="col-md-1">
        <%= link_to user_path(e) do %>
          <%= attachment_image_tag e, :profile_image, fallback: "no_image.jpg", size:"70x70"%>
        <% end %>
      </td>
      <td class="col-md-8">
        <strong>
          <%= link_to engineer_path(e) do %>
            <%= e.surname %> <%= e.name %>
          <% end %>
         <%= e.age %>歳
        </strong>

        <% e.languages.each do |l| %>
        <div class="tag">
          <%= l.language %>・<%= l.experience_year %>年
        </div>
        <% end %>
      </td>
    </tr>

  <% end %>

    <%= paginate @engineers %>
  </table>

<% else %>

  <div class="blank">
    <h5>お探しの企業はありません。</h5>
    <h5></h5>
  </div>

<% end %>
</div>
</div>
