

<div class="container">

  <div class="row">

    <div class="col-2 toping sideright">
        <%= render 'layouts/sidebar' %>
    </div>

    <div class="col-10 whiting toping">

  <%= search_form_for @q, url:companies_path do |f| %>

    <div class="search_field">
      <%= f.text_field :company_name %>
      <%= button_tag :type => "submit", class: "btn btn-default btn-s-md s-button" do %>
          <i class="fa fa-search"></i>
      <% end %>
    </div>
  <% end %>



  <% if @companies.exists? %>
  <div class="container toping">

    <% @companies.each do |c| %>

    <table class="table table-sm">
      <tr class="row">
        <td class="col-1">
          <%= link_to company_path(c) do %>
            <%= attachment_image_tag c, :company_image, fallback: "no_image.jpg", size:"60x60"%>
          <% end %>
        </td>
        <td class="col-3">
          <%= link_to company_path(c) do %>
            <h4><strong><%= c.company_name %></strong></h4>
          <% end %>
          <div class="info_created_at">
              マーク数<%= c.marks_count %>
          </div>
        </td>
        <td class="col-8">
          <%= simple_format(c.introduction) %>
        </td>
      </tr>
    </table>

    <% end %>
  </div>
  <%= paginate @companies %>

  <% else %>

    <div class="toping">
      <h5 class="toping gocenter">There are no companies</h5>
    </div>

  <% end %>
</div>

</div>
</div>



