<div class="container mypage whiting">

<div class="row">

  <div class="col-md-3">

	<table class="table">

		<tr>
	        <th><%= attachment_image_tag @company, :company_image, fallback: "no_image.jpg", size:"250x250" %></th>
	    </tr>
		<tr>
	        <th><%= @company.company_name %></th>
	    </tr>
	    <tr>
	        <th><%= @company.company_address %></th>
	    </tr>
	    <tr>
	        <th class="info_created_at">マーク<%= @company.marks_count %></th>
	    </tr>

	    <% if user_signed_in? %>
	    <% unless Engineer.find_by(id: current_user.id).nil? %>
	    <tr>
	        <th><%= render 'mark', company: @company %></th>
	    </tr>
	    <% end %>
	    <% end %>

	    <tr>
	        <th>
	        	会社紹介
	        	<div class="info_created_at tag">
	        		<%= simple_format(@company.introduction) %>
	            </div>
	        </th>
	    </tr>

        <% if company_signed_in? %>
	        <% if @company == current_company %>
			    <tr>
			        <th>
			        	<%= link_to edit_company_path(current_company.id) do %>
			        	<i class="fas fa-wrench info_created_at">編集する</i>
			        	<% end %>
			        </th>
			    </tr>
			    <% unless current_company.company_payments.exists? %>
				    <tr>
				        <th><%= link_to "お支払", new_company_company_payment_path(current_company.id) %></th>
				    </tr>
				<% else %>
				    <% current_company.company_payments.each do |c| %>
				    <tr>
				        <th><p>利用期限は、<%= c.created_at.next_year.strftime('%Y/%m/%d') %>までです。</p></th>
				    </tr>
				    <% end %>
				<% end %>
		    <% end %>
	    <% end %>

    </table>
  </div>

  <div class="col-md-9">

    <% if @company == current_company %>

		<div class='tabs'>
		  <div class='my-tab-buttons'>
		    <span class='my-content1'>トピック</span>
		    <span class='my-content2'>求人</span>
		    <span class='my-content3'>マーク</span>
		    <span class='my-content4'>オファー</span>
		    <span class='my-content5'>メッセージ</span>
		    <div id='my-lamp' class='my-content1'></div>
		  </div>
		  <div class='my-tab-content'>

		    <div class='my-content1'>
	      	    <%= render 'companies/topics/topics', topics: @topics %>
	        </div>

	        <div class='my-content2'>
	        	<%= render 'companies/jobs/jobs', jobs: @jobs %>
	        </div>

	        <div class='my-content3'>
				<%= render 'companies/companies/marks', marks: @marks %>
	        </div>

	        <div class='my-content4'>
	        	<%= render 'companies/offers/offers', offers: @offers %>
	        </div>

	        <div class='my-content5'>
	        	<%= render 'companies/companies/boxes', boxes: @boxes %>
	        </div>

	      </div>
		</div>

	<% else %>

	    <div class='tabs'>
		  <div class='tab-buttons'>
		    <span class='content1'>トピック</span>
		    <span class='content2'>求人</span>
		    <span class='content3'>マーク</span>
		    <div id='lamp' class='content1'></div>
		  </div>
		  <div class='tab-content'>

		    <div class='content1'>
		        <%= render 'companies/topics/topics', topics: @topics %>
	        </div>

	        <div class='content2'>
	        	<%= render 'companies/jobs/jobs', jobs: @jobs %>
	        </div>

	        <div class='content3'>
	        	<%= render 'companies/companies/marks', marks: @marks %>
	        </div>

	      </div>
	    </div>

	<% end %>

   </div>
</div>
</div>

