


<%= form_for draft, url: draft_path(draft) , method: :patch, remote: true do |f| %>

<%= render 'layouts/error_messages', model: f.object %>

  <div class="form-group">
  	<%= f.text_field :title, placeholder: "タイトル (サイズは、見出し 1)" %>
  	<%= f.text_field :language, placeholder: "言語" %>
  </div>
  <div class="form-group row">
    <div class="col-6">
		  <%= f.text_area :body, placeholder: "本文", :size => "80x50", id: "md-textarea" %>
    </div>
    <div class="col-6">
      <div  id="preview_area">
        <%= render 'preview', draft: draft %>
      </div>
    </div>
  </div>

  <div class="form-group row">
  	<div class="col-md-2 offset-md-10">
  		<%= f.submit "投稿する", class: "btn btn-success" %>
  	</div>
  </div>
<% end %>