

<% if @drafts.exists? %>

<div class="toping">
<table class="table table-hover table-sm toping">

	<strong>下書き</strong>

	<%= link_to "Back", engineer_path(current_user.id) %>

    <% @drafts.each do |d| %>

    <tr>
        <td>
            <div class="info_created_at">
	            <%= d.updated_at.strftime('%Y/%m/%d') %>に保存
            </div>

            <div class="index-title">
                <%= d.title %>
            </div>

            <div class="info_created_at tag">
                <%= d.language %>
            </div>
        </td>
        <td>
			<%= link_to "Re:Start", edit_draft_path(d) %><br />
			<%= link_to "Delete", draft_path(d), method: :delete %>
		</td>
    </tr>

    <% end %>

</table>
<%= paginate @drafts %>
</div>

<% else %>

<p>下書きはないよ</p>

<p>記事を書こう！！</p>

<% end %>