

<h2> QA </h2>

<%= form_for @help, url: help_path(@help), method: :patch do |f| %>

	<%= f.text_field :language  %>
	<%= f.text_field :title %>
	<%= f.text_area :help %>

	<%= f.submit "ヘルプを更新する" %>

<% end %>