
<div class="container">
<h2> QA </h2>

<%= form_for @help, url: helps_path, method: :post do |f| %>


  <label>プログラミング言語</label>
	<%= f.text_field :language ,class: "col-xs-12" %>

　<label>タイトル</label>
	<%= f.text_field :title ,class: "col-xs-12" %>

　<label>本文</label>
	<%= f.text_area :help ,class: "col-xs-12" %>

	<%= f.submit "ヘルプする" %>

	<%= link_to "ヘルプの一覧へ", helps_path %>


<% end %>

</div>