

<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<% @user = User.with_deleted.find_by(id: @help.user_id) %>

<div class="container toping showtime">

    <div class="row">

        <div class="col-7 offset-1">
            <% unless @user.deleted_at.nil? %>
                退会済みユーザー
            <% else %>
                <%= @help.user.name %>
            <% end %>
        </div>
        <div class="col-3">
            <div class="info_created_at">
                <%= @help.created_at.strftime('%Y/%m/%d') %>にヘルプ
            </div>
        </div>
    </div>

    <div class="show_title">
        <%= @help.title %>
    </div>

    <div class="row">
    	<div class="col-md-7 offset-md-2">
            <div class="info_created_at tag">
                <%= @help.language %>
            </div>
		</div>
		<div class="col-md-3">
		    <% if @user_id == current_user.id %>

		        <p><%= link_to "このヘルプを編集する", edit_help_path(@help) %></p>
		        <p><%= link_to "このヘルプを削除する", help_path(@help), method: :delete, "data-confirm" => "本当に削除しますか？" %></p>

		    <% end %>
		</div>
	</div>

    <%= @help.body.html_safe %>


    <div id='comment_area'>
    	<%= render "users/comments/comments", comments: @comments %>
    </div>

    <div  id="comment_form">
        <%= render "users/comments/comment_form", comment: @comment, help: @help %>
    </div>

    <%= link_to "記事の一覧へ", infos_path %>

  </div>

</div>


