


<div class="container">

    <p><h1><%= @help.title %></h1></strong></p>

    <div class="row">
    	<div class="col-md-7 offset-md-2">
		    <p><strong><%= @help.language %></strong></p>
		</div>
		<div class="col-md-3">
		    <% if @help.user_id == current_user.id %>

		        <p><%= link_to "このヘルプを編集する", edit_help_path(@help) %></p>
		        <p><%= link_to "このヘルプを削除する", help_path(@help), method: :delete, "data-confirm" => "本当に削除しますか？" %></p>

		    <% end %>
		</div>
	</div>

    <%= @help.help.html_safe %>

    <%= link_to "記事の一覧へ", infos_path %>

</div>