

<div class="container toping">

  <% if @jobs.exists? %>
  <div class="row">
    <div class="col-md-3">

      <% @jobs.each do |j| %>

      <div class="card">
        <%= link_to company_path(j.company) do %>
          <%= attachment_image_tag j, :job_image, fallback: "no_image.jpg", size:"200x200", class: "card-img-top" %>
        <% end %>
        <div class="card-body row">
            <strong class="card-title ">
              <%= link_to job_path(e) do %>
                <%= j.title %>
              <% end %>
            </strong>
          </div>
        </div>

          <p class="card-text">
            <%= j.stutas %>
            <%= j.salary %>
          </p>
          <p class="card-text">
          	<%= link_to company_path(j.company) do %>
            	<%= j.company.company_name %>
            <% end %>
          </p>

        </div>
      </div>
      <% end %>
    </div>
  </div>
  <% else %>
  <div class="blank">
    <h5>現在、求人はありません。</h5>
    <h5>Currently, there are no jobs.</h5>
  </div>
  <% end %>
</div>