<div class="container">

  <div class="mx-auto" style="width: 500px;">

    <h2><strong>会社登録</strong></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :会社名 %><br />
        <%= f.text_field :company_name, class: "col-md-12" %>
      </div>

      <div class="form-group">
        <%= f.label :会社の住所 %><br />
        <%= f.text_field :company_address, class: "col-md-12" %>
      </div>

      <div class="form-group">
        <%= f.label :会社の電話番号 %><br />
        <%= f.text_field :company_phone, class: "col-md-12" %>
      </div>

      <div class="form-group">
        <%= f.label :担当者名 %><br />
        <%= f.text_field :surname, class: "col-md-6", placeholder: "姓" %>
        <%= f.text_field :name, class: "col-md-6", placeholder: "名" %>
      </div>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-12" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "col-md-12" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-md-12" %>
      </div>

      <div class="actions">
        <%= f.submit "会員登録", class: "btn btn-success col-md-12" %>
      </div>
    <% end %>

    <%= render "companies/shared/links" %>

    <p class="toping"><%= link_to "一般の方はこちら", new_user_session_path %></p>

  </div>
</div>
