

<div class="container toping">

  <% if @company_payments.exists? %>

	<table class="table table-hover table-sm toping">

	      <% @company_payments.each do |c| %>

	      <tr class="row">
	        <td class="col-md-1">
	            <%= attachment_image_tag c.company, :company_image, fallback: "no_image.jpg", size:"70x70"%>
	        </td>
	        <td class="col-md-3">
	            <%= c.company.company_name %><br/ >
	            <%= c.company.company_phone %><br/ >
	            <%= c.company.company_address %>
	        </td>
	        <td class="col-md-7">
	        	開始<%= c.created_at.strftime('%Y/%m/%d') %><br />
	            終了<%= c.created_at.next_year.strftime('%Y/%m/%d') %>
	        </td>
	        <td class="col-1">
	        	<%= link_to "削除", admins_company_payment_path(c), method: :delete, "data-confirm" => "STOP!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! ok??????????????????????" %>
	        </td>
	      </tr>
	      <% end %>
	</table>

    <%= paginate @company_payments %>

  <% else %>
  <div class="blank">
    <h5>現在、登録している企業はありません。</h5>
    <h5>Currently, there are no companies.</h5>
  </div>
  <% end %>
</div>
