
<div class="nested-fields well well-compact">
  <div class="form-group row">
    <div class="col-md-5">
      <%= f.text_field :language , placeholder:" 開発経験のある言語"%>
    </div>
    <div class="col-md-4">
      <%= f.number_field :experience_year, placeholder:"開発・経験", class: "col-md-7" %>年(未満)
    </div>

      <%= link_to_remove_association "削す", f %>

  </div>
  <div class="form-group row">
    <%= f.fields_for :performances do |performance| %>
      <%= render 'performance_fields', f: performance %>
    <%end%>
    <%= link_to_add_association "実績を追加する", f, :performances, class: "offset-md-1" %>
  </div>
</div>




