

<div class="container clearfix toping">


    <%= form_for @engineer, url: engineers_path, method: :post do |f| %>

    <div class="row">

      <div class="col-md-4">
        <div class="form-group">
          <%= attachment_image_tag @engineer, :profile_image, fallback: "no_image.jpg", size:"200x200" %>
          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
        </div>

        <div class="form-group row">
          <div class="col-md-6">
            <%= f.text_field :surname, placeholder:" 姓", class: "col-md-12" %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :name, placeholder:" 名", class: "col-md-12" %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-5">
            <%= f.number_field :age, placeholder:" 55", class: "col-md-8" %>歳
          </div>
          <div class="col-md-7">
            <%= f.select :offer, Engineer.offers.keys.to_a, include_blank: "選択して下さい" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.submit "登録する", class: "btn-lg btn-primary"  %>
        </div>
      </div>

      <div class="col-md-8 lefting">
        <div class="form-group">
          <%= f.text_area :introduction, placeholder:" 自己紹介文", class: "col-md-12"%>
        </div>
          <%= render 'form', f: f %>
          <%= f.hidden_field :rank, value: "F" %>
      </div>
    <% end %>
</div>
