

<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="container whiting">
<div class="toping">
<div class="row">

  <div class="col-md-3">

	<table class="table">

        <%= attachment_image_tag @engineer, :profile_image, fallback: "no_image.jpg", size:"255x255" %>

	    <% if user_signed_in? %>
		    <% if @engineer.id == current_user.id %>
		        <tr>
		            <th>
		            	<%= link_to user_path(@engineer.id) do %>
							<%= @engineer.user.name %>
						<% end %>
		  			</th>
	            </tr>
	            <tr>
	            	<th><%= @engineer.surname %><%= @engineer.name %> 様</th>
            	</tr>
            	<tr>
		            <th><%= link_to "下書き", drafts_path %></th>
	            </tr>
		    <% else %>
		        <tr>
		            <th>
		            	<%= link_to user_path(@engineer.id) do %>
							<%= @engineer.user.name %>
						<% end %>
	            	</th>
	            </tr>
			    <tr>
			        <th><%= render 'users/engineers/follow', engineer: @engineer %></th>
			    </tr>
			    <tr>
			        <th class="info_created_at">マーク</th>
			    </tr>
			<% end %>
	    <% elsif company_signed_in? && @engineer.offer == "受け取る" %>
	        <tr>
	            <th><%= @engineer.surname %><%= @engineer.name %> 様</th>
            </tr>
	        <tr>
	            <th><%= @engineer.age %> 歳</th>
	        </tr>
	        <tr>
		      <th><%= render 'companies/offers/new_offer', offer: @offer, engineer: @engineer %></th>
		    </tr>
		    <tr>
			    <th class="info_created_at">マーク</th>
			</tr>
		<% else %>
		    <tr>
	            <th>オファーを許可していません</th>
            </tr>
	    <% end %>

        <% if user_signed_in? %>
		  <% unless @engineer.id == current_user.id %>
			<% if @isRoom == true %>
			  <%= link_to "チャットへGo!", room_path(@roomId) %>
			<% else %>
			  <%= form_for @room do |f| %>
			    <%= fields_for @entry do |e| %>
			      <%= e.hidden_field :user_id, :value=> @user.id %>
			    <% end %>
			    <%= f.submit "チャットを始める" %>
			  <% end %>
			<% end %>
		  <% end %>
		<% end %>

		<tr>
	        <th>
	        	<%= @engineer.rank %><br />
	        	<% if user_signed_in? %>
		 		    <% if @user = current_user %>
	        			<%= link_to "Up Grade", upgrade_path(current_user.id), method: :patch %>
        		    <% end %>
	    		<% end %>

	        </th>
	    </tr>

        <tr>
	        <th class="info_created_at tag"><%= simple_format(@engineer.introduction) %></th>
	    </tr>

	    <% if user_signed_in? %>
		    <% if @user = current_user %>
			    <tr>
			        <th>
			        	<%= link_to edit_engineer_path(current_user.id) do %>
			        	<i class="fas fa-wrench">編集する</i>
			        	<% end %>
			        </th>
			    </tr>
		    <% end %>
	    <% end %>

    </table>
  </div>


  <div class="col-md-9">
    <% if user_signed_in? && @engineer.id == current_user.id %>

		<div class='tabs'>
		  <div class='my-tab-buttons'>
		    <span class='my-content1'>記事</span>
		    <span class='my-content2'>スキル</span>
		    <span class='my-content3'>マーク</span>
		    <span class='my-content4'>オファー</span>
		    <span class='my-content5'>チャット</span>
		    <div id='my-lamp' class='my-content1'></div>
		  </div>
		  <div class='my-tab-content'>

		    <div class='my-content1'>
		    	<%= render 'users/infos/infos_search', infos: @infos %>
	        </div>

	        <div class='my-content2'>
				<%= render 'users/engineers/skill', languages: @languages %>
	        </div>

	        <div class='my-content3'>
	      	    <%= render 'users/marks/marks', marks: @marks %>
	        </div>
	        <div class='my-content4'>
	        	<%= render 'companies/offers/offers', offers: @offers %>
	        </div>
	        <div class='my-content5'>
	        	<%= render 'users/boxes/boxes', boxes: @boxes %>
	        </div>

	      </div>
		</div>

	<% else %>

	    <div class='tabs'>
		  <div class='tab-buttons'>
		    <span class='content1'>記事</span>
		    <span class='content2'>スキル</span>
		    <span class='content3'>マーク</span>
		    <div id='lamp' class='content1'></div>
		  </div>
		  <div class='tab-content'>

		    <div class='content1'>
		    	<%= render 'users/infos/infos', infos: @infos %>
	        </div>

	        <div class='content2'>
				<%= render 'users/engineers/skill', languages: @languages %>
	        </div>

	        <div class='content3'>
	        	<%= render 'users/marks/marks', marks: @marks %>
	        </div>
	      </div>
	    </div>

	<% end %>
</div>
</div>
</div>
</div>

