

<% if company_signed_in? %>
<%= form_for offer, url: offers_path, method: :post do |f| %>
<%= f.hidden_field :engineer_id, value: engineer.id %>
<div class="container text-center">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#post">オファーする</button>
    <div class="modal fade" id="post" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <%= render 'layouts/error_messages', model: f.object %>
            <div class="modal-body">
              <%= f.text_field :title, class: "form-control", placeholder: "タイトル(職種など)" %>
              <%= f.text_field :salary, class: "form-control", placeholder: "給与" %>
              <%= f.select :status, Offer.statuses.keys.to_a, class: "form-control" %>
              <%= f.text_area :job, class: "form-control", placeholder: "仕事内容", 'data-provider': :summernote, src: "./js/summernote/lang/summernote-ja-JP.js" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
              <%= f.submit "投稿する", class: "btn btn-primary" %>
            </div>
        </div>
      </div>
    </div>
</div>
<% end %>
<% end %>