

<% if company_signed_in? %>
<div class="container text-center">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#post">オファー</button>
    <div class="modal fade" id="post" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <%= form_for offer, url: offers_path, method: :post do |f| %>
            <div class="modal-body">
              <%= f.text_field :title, class: "form-control", placeholder: "タイトル(職種など)" %>
              <%= f.text_field :salary, class: "form-control", placeholder: "給与" %>
              <%= f.select :status, Offer.statuses.keys.to_a, class: "form-control" %>
              <%= f.text_area :job, class: "form-control", placeholder: "仕事内容" %>
              <%= f.hidden_field :engineer_id, value: @engineer.id %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
              <%= f.submit "投稿する", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
<% end %>