

<% if infos.exists? %>

<div class="toping">
	<table class="table table-hover table-sm">

		<% infos.each do |i| %>

		<% @engineer = Engineer.with_deleted.find_by(id: i.engineer_id) %>

	    <tr class="row">
			<td class="col-md-1"><%= attachment_image_tag i.engineer, :profile_image, fallback: "no_image.jpg", size:"60x60" %></td>
			<td class="col-md-10">
				<div class="info_created_at">
					<% unless @engineer.deleted_at.nil? %>
		                退会済みユーザー
		            <% else %>
		                <%= link_to engineer_path(@engineer) do %>
				    		<%= @engineer.user.name %>
				        <% end %>
		            <% end %>
				        が<%= i.created_at.strftime('%Y/%m/%d') %>に投稿
				</div>
				<%= link_to info_path(i) do %>
				  <div class="index-title">
		    		<%= i.title %>
				  </div>
				<% end %>
				  <div class="info_created_at tag">
			        <%= i.language %>
			      </div>
			</td>
			<td class="col-md-1">
				<div class="info_created_at">
					<i class="far fa-heart"></i> <%= i.favorites_count %>
				</div>
				<% if user_signed_in? %>
				<% if @engineer.id == current_user.id %>
		            <%= link_to "編集", edit_info_path(i) %>
		        <% end %>
		        <% end %>
		    </td>
		</tr>
		<% end %>
    </table>
    <%= paginate infos %>
	</div>

<% else %>

<strong>There is notan article</strong>

<% end %>