
<div class="container">
<table class="table table-hover table-sm">

	<% @infos.each do |i| %>

	<tr>
		<td><%= attachment_image_tag i.engineer, :profile_image, fallback: "no_image.jpg", size:"50x50" %></td>
		<td>
			<p><%= i.engineer.user.name %>が<%= i.created_at.strftime('%Y/%m/%d') %>に投稿</p>
			<%= link_to info_path(i) do %>
			    <p><%= i.title %></p>
			<% end %>
		    <p><%= i.language %></p>
		</td>
		<td><%= i.favorites_count %></td>
	</tr>

	<% end %>

</table>
</div>