

<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>


<div class="container toping">

<div class="row">
    <div class="col-9 showtime show_blank">
	    <div class="row">
			<div class="col-1">
				<%= attachment_image_tag @info.engineer, :profile_image, fallback: "no_image.jpg",class: "show_image"%>
			</div>
			<div class="col-7">
				<%= link_to engineer_path(@info.engineer) do %>
			    	<%= @info.engineer.user.name %>
			    <% end %>
			</div>
			<div class="col-3">
			    <div class="info_created_at">
					<%= @info.created_at.strftime('%Y/%m/%d') %>に投稿
				</div>
	        </div>
		</div>
	    <div class="show_title">
		    <%= @info.title %>
		</div>

	    <div class="row">
	    	<div class="col-7 offset-2">
	    		<div class="info_created_at tag">
			    	<%= @info.language %>
			    </div>
			</div>
			<div class="col-3">
			    <% if @info.engineer_id == current_user.id %>

			        <p><%= link_to "この記事を編集する", edit_info_path(@info) %></p>
			        <p><%= link_to "この記事を削除する", info_path(@info), method: :delete, "data-confirm" => "本当に削除しますか？" %></p>

			    <% end %>
			</div>
		</div>


        <article id="content"></article>


	    <% unless @info.engineer_id == current_user.id %>

	    	<%= render 'favorite', info: @info %>

	    <% end %>

	    <%= link_to "記事の一覧へ", users_path %>


	</div>
    <div class="col-3 toping toc">
    	<dl id="list">
		  <dt>目次</dt>
		</dl>
    </div>
</div>

</div>

<script>
document.getElementById('content').innerHTML =
html = marked('<%= j @info.body %>');
$('#content').html(html);
$('#content pre code').each(function(i, e) {
    $(e).text(unsanitize($(e).text()));
    hljs.highlightBlock(e, e.className);
});

  var countId = 1
  $("#content h1,#content h2,#content h3,#content h4,#content h5,#content h6").each(function(){
    var ttl = $(this).text();
    var lv = this.nodeName.toLowerCase();
    this.id = 'ttl-' + countId;
    countId ++;
    $("#list").append('<dd class="lv_'+lv+'"><a href="#'+this.id+'">'+ttl+'</a></dd>');
  });

</script>
