<!DOCTYPE html>
<html>
  <head>
    <title>Agent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/65370e92be.js" crossorigin="anonymous"></script>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js"></script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-default navbar-dark lg-10">
      <nav class="nav navbar-nav navbar-left">
            <h2 class="header-title">Agent</h2>
      </nav>

      <nav>
        <div class="navbar-nav w-100">
          <ul class="nav navbar-expand-lg navbar-right">

          <% if user_signed_in? %>

            <%= link_to user_path(current_user.id) do %>
              <%= current_user.name %>
            <% end %>

            <%= link_to "Search", infos_path %>

            <% if Engineer.where(id: current_user.id).exists? %>
                <%= link_to "MyAgent", engineer_path(current_user.id) %>
                <%= link_to "NewArticle", new_info_path %>
            <% end %>

            <%= link_to "NewHelp", new_help_path %>

          <% elsif company_signed_in? %>

            <%= link_to company_path(current_company.id) do %>
              <%= current_company.company_name %>様
            <% end %>

          <% else %>
          <% end %>

          </ul>
        </div>
      </nav>

      <div id="sp-menu">
        <h2>MENU</h2>
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to "MyPage", user_path(current_user.id) %></li>
            <li><%= link_to "記事の一覧", infos_path %></li>
            <% if Engineer.where(id: current_user.id).exists? %>
              <li><%= link_to "MyAgent", engineer_path(current_user.id) %></li>
              <li><%= link_to "記事の投稿", new_info_path %></li>
              <li><%= link_to "ヘルプの投稿", new_help_path %></li>
              <li><%= link_to "求人", jobs_path %></li>
              <li><%= link_to "企業", companies_path %></li>
            <% else %>
              <li><%= link_to "Agent登録", new_engineer_path %></li>
              <li><%= link_to "ヘルプの投稿", new_help_path %></li>
            <% end %>
            <li><%= link_to "エンジニア", engineers_path %></li>
            <li><%= link_to "ガイド", top_about_path %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "その他", withdraw_path(current_user.id) %></li>
          <% elsif company_signed_in? %>
            <li><%= link_to "マイページ", company_path(current_company.id) %></li>
            <li><%= link_to "エンジニア一覧", engineers_path %></li>
            <li><%= link_to "トピックの投稿", new_topic_path %></li>
            <li><%= link_to "求人の投稿", new_job_path %></li>
            <li><%= link_to "求人の一覧", jobs_path %></li>
            <li><%= link_to "企業の一覧", companies_path %></li>
            <li><%= link_to "記事の一覧", infos_path %></li>
            <li><%= link_to "ガイド", top_about_path %></li>
            <li><%= link_to "ログアウト",destroy_company_session_path, method: :delete %></li>
            <li><%= link_to "お問い合わせ",destroy_company_session_path %></li>
          <% elsif admin_signed_in? %>
            <li><%= link_to "お問い合わせ", admins_admins_path %></li>
            <li><%= link_to "企業の期限", admins_company_payments_path %></li>
            <li><%= link_to "ユーザー", admins_infos_path %></li>
            <li><%= link_to "企業", admin_companies_path %></li>
          <% else %>
            <li><%= link_to "ログイン", new_user_session_path %></li>
            <li><%= link_to "新規会員登録", new_user_registration_path %></li>
            <li><%= link_to "About", top_about_path %></li>
          <% end %>
        </ul>
      </div>
      <div id="hm-icon">
        <a class="menu-trigger" href="#">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    </div>


  </header>
    <%= yield %>
  </body>
  <footer>
    <div class="container toping">
      <div class="row">
        <div class="col-md-4">
          <h2 class="header-title">Agent</h2>
            <%= link_to "Click here for companies", new_company_registration_path, class: "header-title"%>
        </div>
        <div class="col-md-4 offset-md-3">
          <%= link_to "About", top_about_path, class: "header-title" %>
        </div>

    </div>
  </footer>
</html>
